# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$@";
}

# Start an HTTP server from a directory, optionally specifying the port
# and the host
# Params:
#   $1 - port. Default is 8000.
#   $2 - host. Default is localhost.
function server() {
	if [[ $1 == '-h' ]]; then
		echo "Usage: server <host, default localhost> <port, default 8000>";
		return 1;
	fi;

	# Set defaults
	local host="${1:-localhost}";
	local port="${2:-8000}";
	
	#python -m SimpleHTTPServer ${ip}:${port}; # old way, defaults to external host
	echo "Serving HTTP on ${host} port ${port} ...";
	local script="import BaseHTTPServer as bhs, SimpleHTTPServer as shs; bhs.HTTPServer(('${host}', ${port}), shs.SimpleHTTPRequestHandler).serve_forever()";
	python -c "$script";
}

# `v` with no arguments opens the current directory in Vim, otherwise opens the given location
function v() {
	if [ $# -eq 0 ]; then
		find . -maxdepth 1 -type f -exec vim {} +;
	else
		vim "$@";
	fi;
}

# `a` with no arguments opens the current direcory in Atom Editor, otherwise
# opens the given location
function a() {
	if [ $# -eq 0 ]; then
		atom .;
	else
		atom "$@";
	fi;
}

